@import '../../styles/variables';

.search-bar {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: $text-color;
    border-radius: 5px;

    &:focus {
      outline: none;
      border-color: $tertiary-color;
    }
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: $tertiary-color;
    color: $text-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($tertiary-color, 10%);
    }

    &:last-child {
      margin-left: auto;
    }

    &.clear-button {
      background-color: $secondary-color;

      &:hover {
        background-color: lighten($secondary-color, 10%);
      }
    }
  }

  .input-container {
    display: flex;
    gap: 4px;
  }

  .search-term-indicator-container {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
    margin-top: 4px;
  }
}
