$primary-color: #344c64; // Darker background
$secondary-color: #240750; // Dark accent
$tertiary-color: #57a6a1; // Primary accent
$accent-color: #577b8d; // Lighter accent
$text-color: #ffffff;
$background-color: #1a1a1a;
$card-background-color: #2c3e50; // Dark card background
$card-text-color: #ecf0f1; // Light card text
